*~
*.gz
*.Z
*.tar
*.tgz
*.bz2
*.rej
*.orig
=*
TAGS
TODO
AUTHORS
copyr-*
copying.*
glibc-*

configparms

ieeetest
regex

gpl2lgpl.sed
distinfo

test-include
analysis
docs
releases

libc.prj
.libc.prcs_aux
libc.proj
.snprj

TODO.html

autom4te*.cache

core
.gdb_history
.gdbinit

/linuxthreads
/linuxthreads_db
/rtkaio
*.pyc
