Checks: '-*,readability-identifier-naming'
CheckOptions:
  - key: readability-identifier-naming.GetConfigPerFile
    value: true
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ParameterCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: CamelCase
