InheritParentConfig: true
Checks: 'llvm-qualified-auto'
CheckOptions:
  modernize-loop-convert.MaxCopySize: '20'
  modernize-use-using.IgnoreMacros: 'false'
  llvm-qualified-auto.AddConstToQualified: 'true'
