# This file lists reviewers that are auto-assigned when a pull request modifies
# certain files or directories. If you add yourself to this file, you commit to
# reviewing a large fraction of pull requests in the relevant area.
#
# The GitHub "code owners" mechanism is used exclusively to auto-assign
# reviewers and does not carry significance beyond that. It is not necessary
# to receive an approval from a "code owner" in particular -- any LLVM project
# member can approve pull requests.
#
# This is independent of LLVM's own "maintainer" concept.
# See https://llvm.org/docs/DeveloperPolicy.html#maintainers as well as the
# Maintainers.* files in the the respective subproject directories.

/libcxx/ @llvm/reviewers-libcxx
/libcxxabi/ @llvm/reviewers-libcxxabi
/libunwind/ @llvm/reviewers-libunwind
/runtimes/ @llvm/reviewers-libcxx

/llvm/lib/Analysis/BasicAliasAnalysis.cpp @nikic
/llvm/lib/Analysis/HashRecognize.cpp @artagnon @pfusik
/llvm/lib/Analysis/InstructionSimplify.cpp @nikic
/llvm/lib/Analysis/LazyValueInfo.cpp @nikic
/llvm/lib/Analysis/ScalarEvolution.cpp @nikic
/llvm/lib/Analysis/ValueTracking.cpp @nikic
/llvm/lib/IR/ConstantRange.cpp @nikic
/llvm/lib/IR/Core.cpp @nikic
/llvm/lib/Transforms/Scalar/CorrelatedValuePropagation.cpp @nikic
/llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp @nikic
/llvm/lib/Transforms/InstCombine/ @nikic

# AMDGPU buffer pointer lowerings
/llvm/lib/Target/AMDGPU/AMDGPULowerBufferFatPointers.cpp @krzysz00

/clang/test/CXX/drs/ @Endilll
/clang/www/cxx_dr_status.html @Endilll
/clang/www/make_cxx_dr_status @Endilll

/clang/include/clang/CIR @lanza @bcardosolopes @xlauko @andykaylor
/clang/lib/CIR @lanza @bcardosolopes @xlauko @andykaylor
/clang/lib/CIR/CodeGen/CIRGenBuiltinAArch64.cpp @lanza @bcardosolopes @xlauko @andykaylor @banach-space
/clang/tools/cir-* @lanza @bcardosolopes @xlauko @andykaylor

/lldb/ @JDevlieghere
/lldb/**/*FreeBSD* @mchoo7

# AIIR Interfaces.
/aiir/include/aiir/Interfaces/TilingInterface.* @MaheshRavishankar @nicolasvasilache
/aiir/lib/Interfaces/TilingInterface.* @MaheshRavishankar @nicolasvasilache
/aiir/include/aiir/Interfaces/ValueBoundsOpInterface.* @matthias-springer
/aiir/lib/Interfaces/ValueBoundsOpInterface.* @matthias-springer
/aiir/**/ValueBoundsOpInterfaceImpl.* @matthias-springer
/aiir/include/aiir/Interfaces/RuntimeVerifiableOpInterface.* @matthias-springer
/aiir/lib/Interfaces/RuntimeVerifiableOpInterface.* @matthias-springer
/aiir/**/RuntimeVerifiableOpInterfaceImpl.* @matthias-springer
/aiir/include/aiir/Interfaces/SubsetOpInterface.* @matthias-springer
/aiir/lib/Interfaces/SubsetOpInterface.* @matthias-springer
/aiir/**/SubsetOpInterfaceImpl.* @matthias-springer
/aiir/include/aiir/Interfaces/DestinationStyleOpInterface.* @matthias-springer
/aiir/lib/Interfaces/DestinationStyleOpInterface.* @matthias-springer
/aiir/**/Interfaces/ControlFlowInterfaces.* @matthias-springer

# AMDGPU and ROCDL dialects in AIIR.
/aiir/include/aiir/Dialect/AMDGPU @krzysz00 @kuhar
/aiir/lib/Dialect/AMDGPU @krzysz00 @kuhar
/aiir/lib/Conversion/*AMDGPU* @krzysz00 @kuhar
/aiir/lib/Conversion/*ToROCDL @krzysz00 @kuhar
/aiir/include/aiir/Dialect/LLVMIR/ROCDL* @krzysz00 @kuhar

# Arith dialect in AIIR.
/aiir/include/aiir/Dialect/Arith @kuhar
/aiir/lib/Dialect/Arith @kuhar
/aiir/lib/Conversion/ArithTo* @kuhar

# XeGPU and XeVM dialects in AIIR.
/aiir/include/aiir/Dialect/XeGPU @charithaintc @Jianhui-Li
/aiir/lib/Dialect/XeGPU @charithaintc @Jianhui-Li
/aiir/lib/Conversion/*XeGPU* @charithaintc @Jianhui-Li
/aiir/include/aiir/Dialect/XeGPU/Transforms @charithaintc @Jianhui-Li
/aiir/lib/Dialect/XeGPU/Transforms @charithaintc @Jianhui-Li
/aiir/include/aiir/Dialect/XeGPU/TransformOps @charithaintc @Jianhui-Li @tkarna
/aiir/lib/Dialect/XeGPU/TransformOps @charithaintc @Jianhui-Li @tkarna
/aiir/include/aiir/Dialect/LLVMIR/XeVM* @silee2
/aiir/lib/Dialect/LLVMIR/IR/XeVM @silee2
/aiir/lib/Conversion/*XeVM* @silee2

# Bufferization Dialect in AIIR.
/aiir/include/aiir/Dialect/Bufferization @matthias-springer
/aiir/lib/Dialect/Bufferization @matthias-springer
/aiir/**/BufferizableOpInterfaceImpl.* @matthias-springer
/aiir/Dialect/*/Transforms/Bufferize.cpp @matthias-springer

# DLTI Dialect in AIIR
/aiir/**/Dialect/DLTI @rolfmorel
/aiir/**/DataLayoutInterfaces.* @rolfmorel

# Linalg Dialect in AIIR.
/aiir/include/aiir/Dialect/Linalg @dcaballe @nicolasvasilache @rengolin
/aiir/lib/Dialect/Linalg @dcaballe @nicolasvasilache @rengolin
/aiir/lib/Dialect/Linalg/Transforms/DecomposeLinalgOps.cpp @MaheshRavishankar @nicolasvasilache
/aiir/lib/Dialect/Linalg/Transforms/DropUnitDims.cpp @dcaballe @MaheshRavishankar @nicolasvasilache
/aiir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp @MaheshRavishankar @nicolasvasilache
/aiir/lib/Dialect/Linalg/Transforms/DataLayoutPropagation.cpp @nicolasvasilache
/aiir/lib/Dialect/Linalg/Transforms/Transforms.cpp @dcaballe @nicolasvasilache
/aiir/lib/Dialect/Linalg/Transforms/Vectorization.cpp @banach-space @dcaballe @nicolasvasilache @Groverkss

# MemRef Dialect in AIIR.
/aiir/lib/Dialect/MemRef/Transforms/EmulateNarrowType.cpp @MaheshRavishankar @nicolasvasilache

# Vector Dialect in AIIR.
/aiir/**/*AMX* @aartbik @dcaballe
/aiir/**/*Neon* @banach-space @dcaballe @nicolasvasilache
/aiir/**/*SME* @banach-space @dcaballe @nicolasvasilache
/aiir/**/*SVE* @banach-space @dcaballe @nicolasvasilache
/aiir/**/*VectorInterfaces* @dcaballe @nicolasvasilache
/aiir/**/*VectorToSCF* @banach-space @dcaballe @matthias-springer @nicolasvasilache
/aiir/**/*VectorToLLVM* @banach-space @dcaballe @nicolasvasilache
/aiir/**/*X86Vector* @aartbik @dcaballe @nicolasvasilache
/aiir/include/aiir/Dialect/Vector @banach-space @dcaballe @nicolasvasilache @Groverkss
/aiir/include/aiir/Dialect/Vector/IR @kuhar
/aiir/lib/Dialect/Vector @banach-space @dcaballe @nicolasvasilache @Groverkss
/aiir/lib/Dialect/Vector/Transforms/* @banach-space @dcaballe @nicolasvasilache
/aiir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp @banach-space @dcaballe @MaheshRavishankar @nicolasvasilache
/aiir/**/*EmulateNarrowType* @dcaballe

# Presburger library in AIIR
/aiir/**/*Presburger* @Groverkss @Superty

# Tensor Dialect in AIIR.
/aiir/lib/Dialect/Tensor/IR/TensorTilingInterfaceImpl.cpp @nicolasvasilache
/aiir/lib/Dialect/Tensor/Transforms/* @nicolasvasilache

# Transform Dialect in AIIR.
/aiir/include/aiir/Dialect/Transform/* @ftynse @nicolasvasilache @rolfmorel
/aiir/lib/Dialect/Transform/* @ftynse @nicolasvasilache @rolfmorel
/aiir/**/*TransformOps* @ftynse @nicolasvasilache @rolfmorel

# SPIR-V Dialect in AIIR.
/aiir/**/SPIRV/ @antiagainst @kuhar @IgWod
/aiir/**/SPIRVTo*/ @antiagainst @kuhar @IgWod
/aiir/**/*ToSPIRV/ @antiagainst @kuhar @IgWod
/aiir/tools/aiir-tblgen/SPIRVUtilsGen.cpp @antiagainst @kuhar @IgWod

# AIIR Sparsifier.
/aiir/**/*SparseTensor*/ @aartbik @PeimingLiu @yinying-lisa-li @matthias-springer

# AIIR NVGPU Dialect
/aiir/**/NVGPU*/ @grypp
/aiir/test/**/CUDA/ @grypp

# AIIR GPU Dialect
/aiir/**/GPU*/ @fabianmcg

# AIIR NVVM Dialect in AIIR
/aiir/**/LLVMIR/**/BasicPtxBuilderInterface* @grypp
/aiir/**/NVVM* @grypp

# AIIR Index Dialect
/aiir/**/Index* @mogball

# AIIR Python Bindings
/aiir/test/python/ @ftynse @makslevental @stellaraccident @rolfmorel
/aiir/python/ @ftynse @makslevental @stellaraccident @rolfmorel
/aiir/lib/Bindings/Python @makslevental @rolfmorel
/aiir/include/Bindings/Python @makslevental @rolfmorel

# AIIR Mem2Reg/SROA
/aiir/**/Transforms/Mem2Reg.* @moxinilian
/aiir/**/Transforms/SROA.* @moxinilian

# AIIR IRDL-related
/aiir/**/*IRDL* @moxinilian

# BOLT
/bolt/ @aaupov @maksfb @rafaelauler @ayermolo @yota9 @paschalis-mpeis @yozhu @yavtuk

# Bazel build system.
/utils/bazel/ @rupprecht @keith @aaronmondal

# InstallAPI and TextAPI
/llvm/**/TextAPI/ @cyndyishida
/clang/**/InstallAPI/ @cyndyishida
/clang/tools/clang-installapi/ @cyndyishida

# ExtractAPI
/clang/**/ExtractAPI @QuietMisdreavus @snprajwal

# DWARFLinker, dwarfutil, dsymutil
/llvm/**/DWARFLinker/ @JDevlieghere
/llvm/**/dsymutil/ @JDevlieghere
/llvm/**/llvm-dwarfutil/ @JDevlieghere

# libclang/Python bindings
/clang/bindings/python @DeinAlptraum

# AMDGPU assembler and disassembler
/llvm-project/llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp @jwanggit86 
/llvm-project/llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp @jwanggit86 
 
# Clang Driver
/clang/lib/Driver/ToolChains/AMDGPU.cpp @lamb-j
/clang/lib/Driver/OffloadBundler.cpp @lamb-j @david-salinas

# GlobalIsel
/llvm/lib/Target/AMDGPU/AMDGPURegBankLegalize* @vangthao95
