if "dexter" not in config.available_features:
    config.unsupported = True

config.name = "DExTer feature tests"
config.suffixes = [".cpp", ".c", ".test"]

# LLDB through lldb-dap causes spurious failures.
config.test_retry_attempts = 2
