[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "mlgo"
version = "0.0.1"
description = "A small example package"
readme = "README.md"
requires-python = ">=3.8"
