[Unit]
Description=Dell MIL-SPEC Subsystem Monitor
DefaultDependencies=no
Before=sysinit.target
After=kernel.target

[Service]
Type=oneshot
ExecStart=/usr/bin/milspec-monitor
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
