clang/bindings/python/.git_archival.txt  export-subst

libcxx/src/**/*.cpp     merge=libcxx-reformat
libcxx/include/**/*.h   merge=libcxx-reformat

# Explicitly handle files with no extension
libcxx/include/__availability               merge=libcxx-reformat
libcxx/include/__bit_reference              merge=libcxx-reformat
libcxx/include/__config                     merge=libcxx-reformat
libcxx/include/__hash_table                 merge=libcxx-reformat
libcxx/include/__locale                     merge=libcxx-reformat
libcxx/include/__node_handle                merge=libcxx-reformat
libcxx/include/__split_buffer               merge=libcxx-reformat
libcxx/include/__std_clang_module           merge=libcxx-reformat
libcxx/include/__threading_support          merge=libcxx-reformat
libcxx/include/__tree                       merge=libcxx-reformat
libcxx/include/__verbose_abort              merge=libcxx-reformat
libcxx/include/algorithm                    merge=libcxx-reformat
libcxx/include/any                          merge=libcxx-reformat
libcxx/include/array                        merge=libcxx-reformat
libcxx/include/atomic                       merge=libcxx-reformat
libcxx/include/barrier                      merge=libcxx-reformat
libcxx/include/bit                          merge=libcxx-reformat
libcxx/include/bitset                       merge=libcxx-reformat
libcxx/include/cassert                      merge=libcxx-reformat
libcxx/include/ccomplex                     merge=libcxx-reformat
libcxx/include/cctype                       merge=libcxx-reformat
libcxx/include/cerrno                       merge=libcxx-reformat
libcxx/include/cfenv                        merge=libcxx-reformat
libcxx/include/cfloat                       merge=libcxx-reformat
libcxx/include/charconv                     merge=libcxx-reformat
libcxx/include/chrono                       merge=libcxx-reformat
libcxx/include/cinttypes                    merge=libcxx-reformat
libcxx/include/ciso646                      merge=libcxx-reformat
libcxx/include/climits                      merge=libcxx-reformat
libcxx/include/clocale                      merge=libcxx-reformat
libcxx/include/cmath                        merge=libcxx-reformat
libcxx/include/codecvt                      merge=libcxx-reformat
libcxx/include/compare                      merge=libcxx-reformat
libcxx/include/complex                      merge=libcxx-reformat
libcxx/include/concepts                     merge=libcxx-reformat
libcxx/include/condition_variable           merge=libcxx-reformat
libcxx/include/coroutine                    merge=libcxx-reformat
libcxx/include/csetjmp                      merge=libcxx-reformat
libcxx/include/csignal                      merge=libcxx-reformat
libcxx/include/cstdarg                      merge=libcxx-reformat
libcxx/include/cstdbool                     merge=libcxx-reformat
libcxx/include/cstddef                      merge=libcxx-reformat
libcxx/include/cstdint                      merge=libcxx-reformat
libcxx/include/cstdio                       merge=libcxx-reformat
libcxx/include/cstdlib                      merge=libcxx-reformat
libcxx/include/cstring                      merge=libcxx-reformat
libcxx/include/ctgmath                      merge=libcxx-reformat
libcxx/include/ctime                        merge=libcxx-reformat
libcxx/include/cuchar                       merge=libcxx-reformat
libcxx/include/cwchar                       merge=libcxx-reformat
libcxx/include/cwctype                      merge=libcxx-reformat
libcxx/include/deque                        merge=libcxx-reformat
libcxx/include/exception                    merge=libcxx-reformat
libcxx/include/execution                    merge=libcxx-reformat
libcxx/include/expected                     merge=libcxx-reformat
libcxx/include/experimental/__config        merge=libcxx-reformat
libcxx/include/experimental/__memory        merge=libcxx-reformat
libcxx/include/experimental/deque           merge=libcxx-reformat
libcxx/include/experimental/forward_list    merge=libcxx-reformat
libcxx/include/experimental/iterator        merge=libcxx-reformat
libcxx/include/experimental/list            merge=libcxx-reformat
libcxx/include/experimental/map             merge=libcxx-reformat
libcxx/include/experimental/memory          merge=libcxx-reformat
libcxx/include/experimental/memory_resource merge=libcxx-reformat
libcxx/include/experimental/propagate_const merge=libcxx-reformat
libcxx/include/experimental/regex           merge=libcxx-reformat
libcxx/include/experimental/set             merge=libcxx-reformat
libcxx/include/experimental/simd            merge=libcxx-reformat
libcxx/include/experimental/string          merge=libcxx-reformat
libcxx/include/experimental/type_traits     merge=libcxx-reformat
libcxx/include/experimental/unordered_map   merge=libcxx-reformat
libcxx/include/experimental/unordered_set   merge=libcxx-reformat
libcxx/include/experimental/utility         merge=libcxx-reformat
libcxx/include/experimental/vector          merge=libcxx-reformat
libcxx/include/ext/__hash                   merge=libcxx-reformat
libcxx/include/ext/hash_map                 merge=libcxx-reformat
libcxx/include/ext/hash_set                 merge=libcxx-reformat
libcxx/include/filesystem                   merge=libcxx-reformat
libcxx/include/format                       merge=libcxx-reformat
libcxx/include/forward_list                 merge=libcxx-reformat
libcxx/include/fstream                      merge=libcxx-reformat
libcxx/include/functional                   merge=libcxx-reformat
libcxx/include/future                       merge=libcxx-reformat
libcxx/include/initializer_list             merge=libcxx-reformat
libcxx/include/iomanip                      merge=libcxx-reformat
libcxx/include/ios                          merge=libcxx-reformat
libcxx/include/iosfwd                       merge=libcxx-reformat
libcxx/include/iostream                     merge=libcxx-reformat
libcxx/include/istream                      merge=libcxx-reformat
libcxx/include/iterator                     merge=libcxx-reformat
libcxx/include/latch                        merge=libcxx-reformat
libcxx/include/limits                       merge=libcxx-reformat
libcxx/include/list                         merge=libcxx-reformat
libcxx/include/locale                       merge=libcxx-reformat
libcxx/include/map                          merge=libcxx-reformat
libcxx/include/mdspan                       merge=libcxx-reformat
libcxx/include/memory                       merge=libcxx-reformat
libcxx/include/memory_resource              merge=libcxx-reformat
libcxx/include/mutex                        merge=libcxx-reformat
libcxx/include/new                          merge=libcxx-reformat
libcxx/include/numbers                      merge=libcxx-reformat
libcxx/include/numeric                      merge=libcxx-reformat
libcxx/include/optional                     merge=libcxx-reformat
libcxx/include/ostream                      merge=libcxx-reformat
libcxx/include/print                        merge=libcxx-reformat
libcxx/include/queue                        merge=libcxx-reformat
libcxx/include/random                       merge=libcxx-reformat
libcxx/include/ranges                       merge=libcxx-reformat
libcxx/include/ratio                        merge=libcxx-reformat
libcxx/include/regex                        merge=libcxx-reformat
libcxx/include/scoped_allocator             merge=libcxx-reformat
libcxx/include/semaphore                    merge=libcxx-reformat
libcxx/include/set                          merge=libcxx-reformat
libcxx/include/shared_mutex                 merge=libcxx-reformat
libcxx/include/source_location              merge=libcxx-reformat
libcxx/include/span                         merge=libcxx-reformat
libcxx/include/sstream                      merge=libcxx-reformat
libcxx/include/stack                        merge=libcxx-reformat
libcxx/include/stdexcept                    merge=libcxx-reformat
libcxx/include/stop_token                   merge=libcxx-reformat
libcxx/include/streambuf                    merge=libcxx-reformat
libcxx/include/string                       merge=libcxx-reformat
libcxx/include/string_view                  merge=libcxx-reformat
libcxx/include/strstream                    merge=libcxx-reformat
libcxx/include/syncstream                   merge=libcxx-reformat
libcxx/include/system_error                 merge=libcxx-reformat
libcxx/include/thread                       merge=libcxx-reformat
libcxx/include/tuple                        merge=libcxx-reformat
libcxx/include/type_traits                  merge=libcxx-reformat
libcxx/include/typeindex                    merge=libcxx-reformat
libcxx/include/typeinfo                     merge=libcxx-reformat
libcxx/include/unordered_map                merge=libcxx-reformat
libcxx/include/unordered_set                merge=libcxx-reformat
libcxx/include/utility                      merge=libcxx-reformat
libcxx/include/valarray                     merge=libcxx-reformat
libcxx/include/variant                      merge=libcxx-reformat
libcxx/include/vector                       merge=libcxx-reformat
libcxx/include/version                      merge=libcxx-reformat
