<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Homebrew clang version 22.1.7</string>
 <key>diagnostics</key>
 <array>
 </array>
 <key>files</key>
 <array>
 </array>
</dict>
</plist>
