Checks: >
  -*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-union-access,
  google-*,
  -google-build-using-namespace,
  -google-explicit-constructor,
  -google-runtime-references,
  misc-*,
  -misc-macro-parentheses,
  -misc-unused-parameters
