InheritParentConfig: true
Checks: >
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-unchecked-optional-access,
  -bugprone-unused-return-value,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -performance-type-promotion-in-math-fn,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-container-contains,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-simplify-boolean-expr,
  -readability-static-definition-in-anonymous-namespace,
  -readability-suspicious-call-argument,
  -readability-use-anyofallof

CheckOptions:
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           false
