BasedOnStyle: LLVM
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
QualifierAlignment: Left
RemoveBracesLLVM: true
RemoveSemicolon: true
