InheritParentConfig: true
HeaderFilterRegex: 'clang-tools-extra/clang-tidy'
ExcludeHeaderFilterRegex: 'include-cleaner|clang-query'
Checks: >
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-unused-return-value,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-virtual-class-destructor,
  google-readability-casting,
  misc-const-correctness,
  misc-include-cleaner,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  readability-*,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-simplify-boolean-expr,
  -readability-static-definition-in-anonymous-namespace,
  -readability-suspicious-call-argument

CheckOptions:
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           false
  - key:             misc-include-cleaner.MissingIncludes
    value:           false
