# -*- Python -*-

from lit import Test
import lit.formats
import lit.util
import os
import re
import subprocess

flang_bolt_mode = config.flang_bolt_mode.lower()
flang_binary = "flang"
perf_wrapper = f"{sys.executable} {config.perf_helper_dir}/perf-helper.py perf "

if flang_bolt_mode == "instrument":
    perf_wrapper = ""
    flang_binary = config.flang_bolt_name
elif flang_bolt_mode == "lbr":
    perf_wrapper += " --lbr -- "
elif flang_bolt_mode == "perf":
    perf_wrapper += " -- "
else:
    assert 0, "Unsupported flang bolt mode"

flang_nowrapper = os.path.realpath(
    lit.util.which(flang_binary, config.flang_tools_dir)
).replace("\\", "/")
config.flang = perf_wrapper + flang_nowrapper
config.cmake_compiler_args = "-DCMAKE_Fortran_COMPILER='{0}'".format(
    re.sub(r"\s+", ";", flang_nowrapper)
)

config.name = "Flang Perf Training"
config.suffixes = [
    ".f",
    ".f90",
    ".f95",
    ".f03",
    ".f08",
    ".f18",
    ".F",
    ".F90",
    ".F95",
    ".F03",
    ".F08",
    ".F18",
    ".test",
]

use_lit_shell = os.environ.get("LIT_USE_INTERNAL_SHELL")
config.test_format = lit.formats.ShTest(use_lit_shell == "0")
config.substitutions.append(("%flang_skip_driver", config.flang))
config.substitutions.append(("%flang", config.flang))
config.substitutions.append(("%test_root", config.test_exec_root))
config.substitutions.append(("%cmake_compiler_args", config.cmake_compiler_args))
config.substitutions.append(('%cmake_generator', config.cmake_generator))
config.substitutions.append(('%cmake', config.cmake_exe))
config.substitutions.append(('%llvm_src_dir', config.llvm_src_dir))
config.substitutions.append(('%module_src_dir', config.module_src_dir))
config.substitutions.append(('%perf_wrapper', perf_wrapper))
