# -*- Python -*-

from lit import Test
import lit.formats
import lit.util
import subprocess

def getSysrootFlagsOnDarwin(config, lit_config):
    # On Darwin, support relocatable SDKs by providing flang with a
    # default system root path.
    if 'darwin' in config.target_triple:
        try:
            out = subprocess.check_output(['xcrun', '--show-sdk-path']).strip().decode()
            res = 0
        except OSError:
            res = -1
        if res == 0 and out:
            sdk_path = out
            lit_config.note('using SDKROOT: %r' % sdk_path)
            return '-isysroot %s' % sdk_path
    return ''

sysroot_flags = getSysrootFlagsOnDarwin(config, lit_config)

config.flang = lit.util.which('flang', config.flang_tools_dir).replace('\\', '/')

config.name = 'Flang Perf Training'
config.suffixes = ['.f', '.f90', '.f95', '.f03', '.f08', '.f18', '.F', '.F90', '.F95', '.F03', '.F08', '.F18', '.test']

if not config.use_llvm_build:
    config.excludes = ['llvm-support']

fc1_wrapper = '%s %s/perf-helper.py cc1' % (sys.executable, config.perf_helper_dir)

use_lit_shell = os.environ.get("LIT_USE_INTERNAL_SHELL")
config.test_format = lit.formats.ShTest(use_lit_shell == "0")
config.cmake_compiler_args = '-DCMAKE_Fortran_COMPILER="{0}"'.format(
   config.flang.replace(' ', ';')
)
config.substitutions.append( ('%flang_skip_driver', ' %s %s %s ' % (fc1_wrapper, config.flang, sysroot_flags)))
config.substitutions.append( ('%flang', '%s %s ' % (config.flang, sysroot_flags) ) )
config.substitutions.append( ('%test_root', config.test_exec_root ) )
config.substitutions.append( ('%cmake_compiler_args', config.cmake_compiler_args))
config.substitutions.append( ('%cmake_generator', config.cmake_generator ) )
config.substitutions.append( ('%cmake', config.cmake_exe ) )
config.substitutions.append( ('%llvm_src_dir', config.llvm_src_dir ) )
config.substitutions.append( ('%module_src_dir', config.module_src_dir ) )
config.substitutions.append( ('%perf_wrapper', '' ) )

config.environment['LLVM_PROFILE_FILE'] = 'perf-training-%4m.profraw'
