# -*- Python -*-

from lit import Test
import lit.formats
import lit.util
import os
import subprocess

def getSysrootFlagsOnDarwin(config, lit_config):
    # On Darwin, support relocatable SDKs by providing flang with a
    # default system root path.
    if 'darwin' in config.target_triple:
        try:
            out = subprocess.check_output(['xcrun', '--show-sdk-path']).strip()
            res = 0
        except OSError:
            res = -1
        if res == 0 and out:
            sdk_path = out
            lit_config.note('using SDKROOT: %r' % sdk_path)
            return '-isysroot %s' % sdk_path
    return ''

sysroot_flags = getSysrootFlagsOnDarwin(config, lit_config)

config.flang = os.path.realpath(lit.util.which('flang', config.flang_tools_dir)).replace('\\', '/')

config.name = 'Flang Perf Training'
config.suffixes = ['.f', '.f90', '.f95', '.f03', '.f08', '.f18', '.F', '.F90', '.F95', '.F03', '.F08', '.F18', '.test']

dtrace_wrapper = '%s %s/perf-helper.py dtrace' % (sys.executable, config.perf_helper_dir)
dtrace_wrapper_fc1 = '%s %s/perf-helper.py dtrace --cc1' % (sys.executable, config.perf_helper_dir)

if 'darwin' in config.target_triple:
    lit_config.note('using DTrace oneshot probe')
    dtrace_wrapper = '%s --use-oneshot' % dtrace_wrapper
    dtrace_wrapper_fc1 = '%s --use-oneshot' % dtrace_wrapper_fc1

use_lit_shell = os.environ.get("LIT_USE_INTERNAL_SHELL")
config.test_format = lit.formats.ShTest(use_lit_shell == "0")
config.substitutions.append( ('%flang_skip_driver', ' %s %s %s ' % (dtrace_wrapper_fc1, config.flang, sysroot_flags)))
config.substitutions.append( ('%flang', ' %s %s %s ' % (dtrace_wrapper, config.flang, sysroot_flags) ) )
config.substitutions.append( ('%test_root', config.test_exec_root ) )
