name: Unprivileged Download Artifact
description: >-
  Download artifacts from another workflow run without using an access token.
inputs:
  run-id:
    description: >-
      The run-id for the workflow run that you want to download the artifact
      from.  If ommitted it will download the most recently created artifact
      from the repo with the artifact-name.
    required: false
  artifact-name:
    desciption: The name of the artifact to download.
    required: true


outputs:
  filename:
    description: >-
      The filename of the downloaded artifact or the empty string if the
      artifact was not found.
    value: ${{ steps.download-artifact.outputs.filename }}
  artifact-ids:
    description: "The id of the artifact being downloaded."
    value: ${{ steps.artifact-url.outputs.ids }}


runs:
  using: "composite"
  steps:
    - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      id: artifact-url
      with:
        script: |
          var response;
          if (!"${{ inputs.run-id }}") {
            response = await github.rest.actions.listArtifactsForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
          } else {
            response = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: "${{ inputs.run-id }}",
            })
          }

          console.log(response)

          artifacts_to_download = []
          for (artifact of response.data.artifacts) {
            if (artifact.name.startsWith("${{ inputs.artifact-name }}")) {
              artifacts_to_download.push(artifact)
            }
          }

          for (artifact of artifacts_to_download) {
            console.log(artifact);
          }

          if (artifacts_to_download.length == 0) {
            console.log("Could not find artifacts starting with name ${{ inputs.artifact-name }} for workflow run ${{ inputs.run-id }}")
            return;
          }

          artifact_ids = []
          artifact_urls = []
          artifact_names = []
          for (artifact_to_download of artifacts_to_download) {
            const url_response = await github.rest.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: artifact_to_download.id,
              archive_format: "zip"
            })

            artifact_ids.push(artifact_to_download.id)
            artifact_urls.push('"' + url_response.url + '"')
            artifact_names.push('"' + artifact_to_download.name + '"')
          }

          core.setOutput("urls", artifact_urls.join(" "));
          core.setOutput("ids", artifact_ids.join(" "));
          core.setOutput("names", artifact_names.join(" "));

    - shell: bash
      if: steps.artifact-url.outputs.urls != ''
      id: download-artifact
      run: |
        artifact_urls=(${{ steps.artifact-url.outputs.urls }})
        artifact_names=(${{ steps.artifact-url.outputs.names }})
        for i in "${!artifact_urls[@]}"; do
          curl -L -o "${artifact_names[$i]}.zip" "${artifact_urls[$i]}"
        done

    - shell: bash
      if: steps.artifact-url.outputs.names != ''
      run: |
        artifact_names=(${{ steps.artifact-url.outputs.names }})
        for name in "${artifact_names[@]}"; do
          unzip "${name}.zip"
        done
