# Structured scripts require DAP-based debugging, which is currently only supported through LLDB.
if "lldb" not in config.available_features:
    config.unsupported = True

# Some tests observe slightly different output when running on ARM/AArch64 targets; since there is no buildbot
# configuration for ARM+cross-project-tests, we disable these tests for these targets so that we don't end up with
# latent test failures.
if any(target in config.root.host_triple for target in ["arm", "aarch64"]):
    config.unsupported = True
