<div id="{{USR}}" class="delimiter-container">
    {{#Template}}
    <pre><code class="language-cpp code-clang-doc">template &lt;{{#Parameters}}{{Param}}{{^End}}, {{/End}}{{/Parameters}}&gt;</code></pre>
    {{/Template}}
    <pre><code class="language-cpp code-clang-doc">{{#IsUsing}}using{{/IsUsing}}{{^IsUsing}}typedef{{/IsUsing}} {{Name}}{{#IsUsing}} ={{/Isusing}} {{#Underlying}}{{Name}}{{/Underlying}}</code></pre>
    {{#Description}}
    {{>Comments}}
    {{/Description}}
    {{#Location}}
    <p>Defined at line {{LineNumber}} of file {{Filename}}</p>
    {{/Location}}
</div>
