@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

*,*::before *::after {
    box-sizing:border-box
}
* {
    margin:0;
    padding:0
}
ol,
ul {
    list-style:none
}
img,
picture,
svg,
video {
    display:block;
    max-width:100%
}
* {
    --brand-light:#ce6300;
    --text1-light:#000000;
    --text2-light:#333333;
    --surface1-light:#ffffff;
    --surface2-light:#f5f5f5;
    --brand-dark:#de9853;
    --text1-dark:#ffffff;
    --text2-dark:#cccccc;
    --surface1-dark:#161212;
    --surface2-dark:#272424;
    --sidebar-width: 300px;
}
:root {
    color-scheme:light;
    --brand:var(--brand-light);
    --text1:var(--text1-light);
    --text2:var(--text2-light);
    --text1-inverse:var(--text1-dark);
    --text2-inverse:var(--text2-dark);
    --surface1:var(--surface1-light);
    --surface2:var(--surface2-light)
}
@media(prefers-color-scheme:dark) {
    :root {
        color-scheme:dark;
        --brand:var(--brand-dark);
        --text1:var(--text1-dark);
        --text2:var(--text2-dark);
        --text1-inverse:var(--text1-light);
        --text2-inverse:var(--text2-light);
        --surface1:var(--surface1-dark);
        --surface2:var(--surface2-dark)
    }
}
[color-scheme=light] {
    color-scheme:light;
    --brand:var(--brand-light);
    --text1:var(--text1-light);
    --text2:var(--text2-light);
    --text1-inverse:var(--text1-dark);
    --text2-inverse:var(--text2-dark);
    --surface1:var(--surface1-light);
    --surface2:var(--surface2-light)
}
[color-scheme=dark] {
    color-scheme:dark;
    --brand:var(--brand-dark);
    --text1:var(--text1-dark);
    --text2:var(--text2-dark);
    --text1-inverse:var(--text1-light);
    --text2-inverse:var(--text2-light);
    --surface1:var(--surface1-dark);
    --surface2:var(--surface2-dark)
}
html {
    background-color:var(--surface1)
}

html, body {
    font-family:Inter,sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    height: calc(100% - var(--sidebar-width));
    box-sizing: border-box;
}


.hero__container {
    margin-top:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem
}

.hero__title-large {
    font-size:2rem
}

@media(max-width:768px) {
    .hero__title-large {
        font-size:2.5rem
    }
}
@media(max-width:480px) {
    .hero__title-large {
        font-size:2rem
    }
}
@media(max-width:768px) {
    .hero__title {
        font-size:2rem
    }
}
@media(max-width:480px) {
    .hero__title {
        font-size:1.75rem
    }
}
.hero__subtitle {
    font-size:1.25rem;
    font-weight:500
}

@media(max-width:768px) {
    .hero__subtitle {
        font-size:1rem
    }
}

@media(max-width:480px) {
    .hero__subtitle {
        font-size:.875rem
    }
}

.section-container {
    max-width: 2048px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom: 1rem;
    padding:1rem 2rem
}

@media(max-width:768px) {
    .section-container {
        padding:1rem
    }
}
.section-container h2 {
    font-size:1.5rem;
    margin-bottom:1rem;
    color:var(--brand);
    border-bottom: 1px solid var(--text2);
}

@media(max-width:768px) {
    .section-container h2 {
        font-size:1.25rem
    }
}

.section-container p {
    font-size:1rem;
    line-height:1.5
}

@media(max-width:768px) {
    .section-container p {
        font-size:.875rem
    }
}

.links-wrapper {
    display:grid;
    gap:1rem;
    grid-template-columns:1fr 1fr 1fr 1fr
}

@media(max-width:768px) {
    .links-wrapper {
        grid-template-columns:1fr 1fr
    }
}
@media(max-width:480px) {
    .links-wrapper {
        grid-template-columns:1fr
    }
}

.links-wrapper .link {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:1rem;
    border:1px solid var(--text1);
    border-radius:.25rem
}

.links-wrapper .link__icon {
    font-size:2rem
}

.links-wrapper .link__title {
    font-size:1rem
}

.table-wrapper {
    display:flex;
    flex-direction:column;
    padding:1rem;
    border-collapse: collapse; /* Ensures there are no gaps between cells */
}

.table-wrapper th, .table-wrapper td {
    padding: 0.5rem 1rem; /* Adds padding inside the cells */
    border:1px solid var(--text1);
    text-align: left;
}

.block-command-command {
    font-weight: bold;
}

.code-clang-doc {
    font-size: 1.2rem;
}



.delimiter-container {
    padding: 0.5rem 1rem;
    margin-bottom:1rem;
}

.resizer {
    width: 5px;
    cursor: col-resize;
    border-left: 3px solid black;
    top: 0;
    left: var(--sidebar-width);
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.resizer:hover {
    background-color: var(--text2-inverse);
}

.sidebar {
    width: var(--sidebar-width);
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 1rem;
    position: fixed;
    background-color: var(--surface2);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
}

.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.sidebar ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.sidebar-section {
    padding-right: 1rem;
    font-size:1.5rem;
    font-weight: bold;
}

.sidebar-section h2 {
    font-size:1.25rem;
}

.sidebar-section h1 {
    margin: 1rem;
    font-size:2rem;
}

.content {
    background-color: var(--text1-inverse);
    padding: 20px;
    left: var(--sidebar-width);
    position: relative;
    width: calc(100% - var(--sidebar-width));
    max-width: 960px;
    margin-right: auto;
}

.sidebar-item {
    color: var(--text1);
}

.sidebar-item-container {
    font-size: 16px;
    padding-left: 5px;
    color: #0e79c0;
}


.sidebar-item-container:hover {
    border-left: 3px solid var(--brand);
}

.sidebar-section input[type="checkbox"] {
    display: none;
}

.sidebar-section label {
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    position: relative;
}

.sidebar-section label::before {
    content: '\25B6';
    position: absolute;
    left: 1rem;
    font-size: 0.8rem; 
    color: grey;
    transition: transform 0.3s ease;
}


.sidebar-section input[type="checkbox"]:checked + label::before {
    transform: rotate(90deg);
}

.sidebar-section ul {
    display: none;
    padding-left: 1rem;
}

.sidebar-section input[type="checkbox"]:checked + label + ul {
    display: block;
}

.class-container {
    padding: 0.5rem 1rem;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.definition {
    margin-top: 10px;
}

.definition a {
    color: #0e84b5;
}

.definition a:hover {
    text-decoration: underline;
}
