{{! 
    Part of the LLVM Project, under the Apache License v2.0 with LLVM Exceptions.
    See https://llvm.org/LICENSE.txt for license information.
    SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
    
    This file defines the template for enums
}}
<div id="{{ID}}" class="delimiter-container">
    <div>
        <pre>
            <code class="language-cpp code-clang-doc">
{{EnumName}}
            </code>
        </pre>
    </div>
    {{! Enum Values }}
    <table class="table-wrapper">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Value</th>
            {{#HasComment}}
                <th>Comment</th>
            {{/HasComment}}
        </tr>
        {{#EnumValues}}
            <tr>
                <td>{{Name}}</td>
                <td>{{Value}}</td>
                {{#EnumValueComments}}
                    <td>{{>Comments}}</td>
                {{/EnumValueComments}}
            </tr>
        {{/EnumValues}}
        </tbody>
    </table>
    {{#EnumComments}}
    <div>
        {{>Comments}}
    </div>
    {{/EnumComments}}
    {{#Location}}
    <div>
        Defined at line {{LineNumber}} of file {{Filename}}
    </div>
    {{/Location}}
</div>
