{{! 
    Part of the LLVM Project, under the Apache License v2.0 with LLVM Exceptions.
    See https://llvm.org/LICENSE.txt for license information.
    SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
    
    This file defines the template for generating namespaces
}}
<!DOCTYPE html>
<html lang="en-US">
{{>HeadPartial}}
<body>
    {{>NavbarPartial}}
    <main>
        <div class="container">
            <div class="sidebar">
                <h2>{{#RecordType}}{{RecordType}} {{/RecordType}}{{Name}}</h2>
                <ul>
                    {{#HasEnums}}
                    <li class="sidebar-section">
                        <a class="sidebar-item" href="#Enums">Enums</a>
                    </li>
                    <li>
                        <ul>
                            {{#Enums}}
                            <li class="sidebar-item-container">
                                <a class="sidebar-item" href="#{{USR}}">{{Name}}</a>
                            </li>
                            {{/Enums}}
                        </ul>
                    </li>
                    {{/HasEnums}}
                    {{#HasRecords}}
                    <li class="sidebar-section">
                        <a class="sidebar-item" href="#Classes">Inner Classes</a>
                    </li>
                    <li>
                        <ul>
                            {{#Records}}
                            <li class="sidebar-item-container">
                                <a class="sidebar-item" href="#{{USR}}">{{Name}}</a>
                            </li>
                            {{/Records}}
                        </ul>
                    </li>
                    {{/HasRecords}}
                    {{#HasFunctions}}
                    <li class="sidebar-section">
                        <a class="sidebar-item" href="#Functions">Functions</a>
                    </li>
                    <li>
                        <ul>
                            {{#Functions}}
                            <li class="sidebar-item-container">
                                <a class="sidebar-item" href="#{{USR}}">{{Name}}{{#Template}}{{#Specialization}}&lt;{{#Parameters}}{{Param}}{{^End}}, {{/End}}{{/Parameters}}&gt;{{/Specialization}}{{/Template}}</a>
                            </li>
                            {{/Functions}}
                        </ul>
                    </li>
                    {{/HasFunctions}}
                    {{#HasNamespaces}}
                    <li class="sidebar-section">
                        <a class="sidebar-item" href="#Namespaces">Namespaces</a>
                    </li>
                    <li>
                        <ul>
                            {{#Namespaces}}
                            <li class="sidebar-item-container">
                                <a class="sidebar-item" href="#{{USR}}">{{Name}}</a>
                            </li>
                            {{/Namespaces}}
                        </ul>
                    </li>
                    {{/HasNamespaces}}
                </ul>
            </div>
            <div class="resizer" id="resizer"></div>
            <div class="content">
                {{#HasNamespaces}}
                <section id="Namespaces" class="section-container">
                    <h2>Namespaces</h2>
                    <ul class="class-container">
                        {{#Namespaces}}
                        <li id="{{USR}}">
                            <a href="{{^Path}}../{{Name}}/{{/Path}}{{#Path}}./{{Name}}/{{/Path}}index.html">
                                <pre><code class="language-cpp code-clang-doc">namespace {{Name}}</code></pre>
                            </a>
                        </li>
                        {{/Namespaces}}
                    </ul>
                </section>
                {{/HasNamespaces}}
                {{#HasEnums}}
                <section id="Enums" class="section-container">
                    <h2>Enumerations</h2>
                    <div>
                        {{#Enums}}
                        {{>EnumPartial}}
                        {{/Enums}}
                    </div>
                </section>
                {{/HasEnums}}
                {{#HasRecords}}
                <section id="Classes" class="section-container">
                    <h2>Inner Classes</h2>
                    <ul class="class-container">
                        {{#Records}}
                        <li id="{{USR}}" style="max-height: 40px;">
                            <a href="{{DocumentationFileName}}.html">
                                <pre><code class="language-cpp code-clang-doc">class {{Name}}</code></pre>
                            </a>
                        </li>
                        {{/Records}}
                    </ul>
                </section>
                {{/HasRecords}}
                {{#HasFunctions}}
                <section id="Functions" class="section-container">
                    <h2>Functions</h2>
                    <ul class="class-container">
                        {{#Functions}}
                        <li>
                            {{>FunctionPartial}}
                        </li>
                        {{/Functions}}
                    </ul>
                </section>
                {{/HasFunctions}}
            </div>
        </div>
    </main>
</body>
</html>
