Checks: readability-identifier-naming
CheckOptions:
  readability-identifier-naming.AbstractClassCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassMemberCase: CamelCase
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantMemberCase: CamelCase
  readability-identifier-naming.ConstantParameterCase: CamelCase
  readability-identifier-naming.ConstantPointerParameterCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPointerCase: CamelCase
  readability-identifier-naming.GlobalPointerCase: CamelCase
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.LocalConstantCase: CamelCase
  readability-identifier-naming.LocalConstantPointerCase: CamelCase
  readability-identifier-naming.LocalPointerCase: CamelCase
  readability-identifier-naming.LocalVariableCase: CamelCase
  readability-identifier-naming.MemberCase: CamelCase
  readability-identifier-naming.ParameterCase: CamelCase
  readability-identifier-naming.PointerParameterCase: CamelCase
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberCase: CamelCase
  readability-identifier-naming.PublicMemberCase: CamelCase
  readability-identifier-naming.ScopedEnumConstantCase: CamelCase
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticVariableCase: CamelCase
  readability-identifier-naming.VariableCase: CamelCase
  readability-identifier-naming.AbstractClassHungarianPrefix: On
  readability-identifier-naming.ClassHungarianPrefix: On
  readability-identifier-naming.ClassConstantHungarianPrefix: On
  readability-identifier-naming.ClassMemberHungarianPrefix: On
  readability-identifier-naming.ConstantHungarianPrefix: On
  readability-identifier-naming.ConstantMemberHungarianPrefix: On
  readability-identifier-naming.ConstantParameterHungarianPrefix: On
  readability-identifier-naming.ConstantPointerParameterHungarianPrefix: On
  readability-identifier-naming.ConstexprVariableHungarianPrefix: On
  readability-identifier-naming.EnumConstantHungarianPrefix: On
  readability-identifier-naming.GlobalConstantHungarianPrefix: On
  readability-identifier-naming.GlobalConstantPointerHungarianPrefix: On
  readability-identifier-naming.GlobalPointerHungarianPrefix: On
  readability-identifier-naming.GlobalVariableHungarianPrefix: On
  readability-identifier-naming.LocalConstantHungarianPrefix: On
  readability-identifier-naming.LocalConstantPointerHungarianPrefix: On
  readability-identifier-naming.LocalPointerHungarianPrefix: On
  readability-identifier-naming.LocalVariableHungarianPrefix: On
  readability-identifier-naming.MemberHungarianPrefix: On
  readability-identifier-naming.ParameterHungarianPrefix: On
  readability-identifier-naming.PointerParameterHungarianPrefix: On
  readability-identifier-naming.PrivateMemberHungarianPrefix: On
  readability-identifier-naming.ProtectedMemberHungarianPrefix: On
  readability-identifier-naming.PublicMemberHungarianPrefix: On
  readability-identifier-naming.ScopedEnumConstantHungarianPrefix: On
  readability-identifier-naming.StaticConstantHungarianPrefix: On
  readability-identifier-naming.StaticVariableHungarianPrefix: On
  readability-identifier-naming.VariableHungarianPrefix: On
  readability-identifier-naming.HungarianNotation.General.TreatStructAsClass: true
  readability-identifier-naming.HungarianNotation.DerivedType.Array: mya
  readability-identifier-naming.HungarianNotation.DerivedType.Pointer: myp
  readability-identifier-naming.HungarianNotation.DerivedType.FunctionPointer: myfn
  readability-identifier-naming.HungarianNotation.CString.CharPointer: mysz
  readability-identifier-naming.HungarianNotation.CString.CharArray: mysz
  readability-identifier-naming.HungarianNotation.CString.WideCharPointer: mywsz
  readability-identifier-naming.HungarianNotation.CString.WideCharArray: mywsz
  readability-identifier-naming.HungarianNotation.PrimitiveType.int8_t: myi8
  readability-identifier-naming.HungarianNotation.PrimitiveType.int16_t: myi16
  readability-identifier-naming.HungarianNotation.PrimitiveType.int32_t: myi32
  readability-identifier-naming.HungarianNotation.PrimitiveType.int64_t: myi64
  readability-identifier-naming.HungarianNotation.PrimitiveType.uint8_t: myu8
  readability-identifier-naming.HungarianNotation.PrimitiveType.uint16_t: myu16
  readability-identifier-naming.HungarianNotation.PrimitiveType.uint32_t: myu32
  readability-identifier-naming.HungarianNotation.PrimitiveType.uint64_t: myu64
  readability-identifier-naming.HungarianNotation.PrimitiveType.char8_t: myc8
  readability-identifier-naming.HungarianNotation.PrimitiveType.char16_t: myc16
  readability-identifier-naming.HungarianNotation.PrimitiveType.char32_t: myc32
  readability-identifier-naming.HungarianNotation.PrimitiveType.float: myf
  readability-identifier-naming.HungarianNotation.PrimitiveType.double: myd
  readability-identifier-naming.HungarianNotation.PrimitiveType.char: myc
  readability-identifier-naming.HungarianNotation.PrimitiveType.bool: myb
  readability-identifier-naming.HungarianNotation.PrimitiveType._Bool: myb
  readability-identifier-naming.HungarianNotation.PrimitiveType.int: myi
  readability-identifier-naming.HungarianNotation.PrimitiveType.size_t: myn
  readability-identifier-naming.HungarianNotation.PrimitiveType.wchar_t: mywc
  readability-identifier-naming.HungarianNotation.PrimitiveType.short-int: mysi
  readability-identifier-naming.HungarianNotation.PrimitiveType.short: mys
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-int: mysi
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-short: myss
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-short-int: myssi
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-long-long-int: myslli
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-long-long: mysll
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-long-int: mysli
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed-long: mysl
  readability-identifier-naming.HungarianNotation.PrimitiveType.signed: mys
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-long-long-int: myulli
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-long-long: myull
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-long-int: myuli
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-long: myul
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-short-int: myusi
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-short: myus
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-int: myui
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned-char: myuc
  readability-identifier-naming.HungarianNotation.PrimitiveType.unsigned: myu
  readability-identifier-naming.HungarianNotation.PrimitiveType.long-long-int: mylli
  readability-identifier-naming.HungarianNotation.PrimitiveType.long-double: myld
  readability-identifier-naming.HungarianNotation.PrimitiveType.long-long: myll
  readability-identifier-naming.HungarianNotation.PrimitiveType.long-int: myli
  readability-identifier-naming.HungarianNotation.PrimitiveType.long: myl
  readability-identifier-naming.HungarianNotation.PrimitiveType.ptrdiff_t: myp
  readability-identifier-naming.HungarianNotation.PrimitiveType.void: myv
  readability-identifier-naming.HungarianNotation.UserDefinedType.BOOL: myb
  readability-identifier-naming.HungarianNotation.UserDefinedType.BOOLEAN: myb
  readability-identifier-naming.HungarianNotation.UserDefinedType.BYTE: myby
  readability-identifier-naming.HungarianNotation.UserDefinedType.CHAR: myc
  readability-identifier-naming.HungarianNotation.UserDefinedType.UCHAR: myuc
  readability-identifier-naming.HungarianNotation.UserDefinedType.SHORT: mys
  readability-identifier-naming.HungarianNotation.UserDefinedType.USHORT: myus
  readability-identifier-naming.HungarianNotation.UserDefinedType.WORD: myw
  readability-identifier-naming.HungarianNotation.UserDefinedType.DWORD: mydw
  readability-identifier-naming.HungarianNotation.UserDefinedType.DWORD32: mydw32
  readability-identifier-naming.HungarianNotation.UserDefinedType.DWORD64: mydw64
  readability-identifier-naming.HungarianNotation.UserDefinedType.LONG: myl
  readability-identifier-naming.HungarianNotation.UserDefinedType.ULONG: myul
  readability-identifier-naming.HungarianNotation.UserDefinedType.ULONG32: myul32
  readability-identifier-naming.HungarianNotation.UserDefinedType.ULONG64: myul64
  readability-identifier-naming.HungarianNotation.UserDefinedType.ULONGLONG: myull
  readability-identifier-naming.HungarianNotation.UserDefinedType.HANDLE: myh
  readability-identifier-naming.HungarianNotation.UserDefinedType.INT: myi
  readability-identifier-naming.HungarianNotation.UserDefinedType.INT8: myi8
  readability-identifier-naming.HungarianNotation.UserDefinedType.INT16: myi16
  readability-identifier-naming.HungarianNotation.UserDefinedType.INT32: myi32
  readability-identifier-naming.HungarianNotation.UserDefinedType.INT64: myi64
  readability-identifier-naming.HungarianNotation.UserDefinedType.UINT: myui
  readability-identifier-naming.HungarianNotation.UserDefinedType.UINT8: myu8
  readability-identifier-naming.HungarianNotation.UserDefinedType.UINT16: myu16
  readability-identifier-naming.HungarianNotation.UserDefinedType.UINT32: myu32
  readability-identifier-naming.HungarianNotation.UserDefinedType.UINT64: myu64
  readability-identifier-naming.HungarianNotation.UserDefinedType.PVOID: myp
