Checks: readability-identifier-naming
CheckOptions:
  readability-identifier-naming.AbstractClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.UnionCase: camelBack
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ClassMemberCase: CamelCase
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantMemberCase: CamelCase
  readability-identifier-naming.ConstantParameterCase: CamelCase
  readability-identifier-naming.ConstantPointerParameterCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPointerCase: CamelCase
  readability-identifier-naming.GlobalPointerCase: CamelCase
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.LocalConstantCase: CamelCase
  readability-identifier-naming.LocalConstantPointerCase: CamelCase
  readability-identifier-naming.LocalPointerCase: CamelCase
  readability-identifier-naming.LocalVariableCase: CamelCase
  readability-identifier-naming.MemberCase: CamelCase
  readability-identifier-naming.ParameterCase: CamelCase
  readability-identifier-naming.PointerParameterCase: CamelCase
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberCase: CamelCase
  readability-identifier-naming.PublicMemberCase: CamelCase
  readability-identifier-naming.ScopedEnumConstantCase: CamelCase
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.StaticVariableCase: CamelCase
  readability-identifier-naming.VariableCase: CamelCase
  readability-identifier-naming.AbstractClassHungarianPrefix: On
  readability-identifier-naming.ClassHungarianPrefix: On
  readability-identifier-naming.ClassConstantHungarianPrefix: On
  readability-identifier-naming.ClassMemberHungarianPrefix: On
  readability-identifier-naming.ConstantHungarianPrefix: On
  readability-identifier-naming.ConstantMemberHungarianPrefix: On
  readability-identifier-naming.ConstantParameterHungarianPrefix: On
  readability-identifier-naming.ConstantPointerParameterHungarianPrefix: On
  readability-identifier-naming.ConstexprVariableHungarianPrefix: On
  readability-identifier-naming.EnumConstantHungarianPrefix: On
  readability-identifier-naming.GlobalConstantHungarianPrefix: On
  readability-identifier-naming.GlobalConstantPointerHungarianPrefix: On
  readability-identifier-naming.GlobalPointerHungarianPrefix: On
  readability-identifier-naming.GlobalVariableHungarianPrefix: On
  readability-identifier-naming.LocalConstantHungarianPrefix: On
  readability-identifier-naming.LocalConstantPointerHungarianPrefix: On
  readability-identifier-naming.LocalPointerHungarianPrefix: On
  readability-identifier-naming.LocalVariableHungarianPrefix: On
  readability-identifier-naming.MemberHungarianPrefix: On
  readability-identifier-naming.ParameterHungarianPrefix: On
  readability-identifier-naming.PointerParameterHungarianPrefix: On
  readability-identifier-naming.PrivateMemberHungarianPrefix: On
  readability-identifier-naming.ProtectedMemberHungarianPrefix: On
  readability-identifier-naming.PublicMemberHungarianPrefix: On
  readability-identifier-naming.ScopedEnumConstantHungarianPrefix: On
  readability-identifier-naming.StaticConstantHungarianPrefix: On
  readability-identifier-naming.StaticVariableHungarianPrefix: On
  readability-identifier-naming.VariableHungarianPrefix: On
