name: Get LLVM Version
description: >-
  Get the LLVM version from the llvm-project source tree.  This action assumes
  the llvm-project sources have already been checked out into GITHUB_WORKSPACE.

outputs:
  major:
    description: LLVM major version
    value: ${{ steps.version.outputs.major }}
  minor:
    description: LLVM minor version
    value: ${{ steps.version.outputs.minor }}
  patch:
    description: LLVM patch version
    value: ${{ steps.version.outputs.patch }}
  full-no-suffix:
    description: |
      The full LLVM vesion without any suffixes like `-rc` or `git`.  This will be `$major.$minor.$patch`
    value: ${{ steps.version.outputs.full-no-suffix }}

runs:
  using: "composite"
  steps:
    - name: Get Version
      shell: bash
      id: version
      run: |
        for v in major minor patch; do
          echo "$v=`llvm/utils/release/get-llvm-version.sh --$v`" >> $GITHUB_OUTPUT
        done

        echo "full-no-suffix=$(llvm/utils/release/get-llvm-version.sh)" >> $GITHUB_OUTPUT
