config.environment["XRAY_OPTIONS"] = "patch_premain=false xray_naive_log=false"
test_modules = config.test_modules
if "run" in test_modules:
    # Insert microbenchmark module behind 'run'
    test_modules.insert(test_modules.index("run") + 1, "microbenchmark")
    # Timeit results are not useful for microbenchmarks
    if "timeit" in test_modules:
        test_modules.remove("timeit")
