numpy>=1.19.5, <3.0
# pybind11>=2.14.0, <2.15.0
# Temporarily set pybind11 version to master waiting the next release to 2.13.6
pybind11 @ git+https://github.com/pybind/pybind11@master
PyYAML>=5.4.0, <=6.0.1
ml_dtypes>=0.5.0, <=0.6.0   # provides several NumPy dtype extensions, including the bf16
