# Convert this file into a requirements.txt file by running:
#
# pip install pip-tools
# pip-compile --generate-hashes -o requirements_upload_release.txt requirements_upload_release.txt.in
#
# or with uv by running:
#
# uv pip compile --generate-hashes --python-platform linux --python-version 3.10 -o requirements_upload_release.txt requirements_upload_release.txt.in

PyGithub==2.8.1
