name: "Check libc++ generated files"
on:
  pull_request:
    paths:
      - 'libcxx/**'

permissions:
  contents: read

jobs:
  check_generated_files:
    runs-on: ubuntu-24.04
    if: github.repository == 'llvm/llvm-project'
    steps:
      - name: Fetch LLVM sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        uses: aminya/setup-cpp@1f17f92d6a52bfcb1a25348e2c526c2e5cbb1134 # v1.8.0
        with:
          clangformat: 17.0.1
          ninja: true

      - name: Check generated files
        run: libcxx/utils/ci/run-buildbot check-generated-output
        env:
          CC: cc
          CXX: c++
