name: "Check libc++ generated files"
on:
  pull_request:
    paths:
      - 'libcxx/**'

jobs:
  check_generated_files:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch LLVM sources
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: aminya/setup-cpp@v1
        with:
          clangformat: 17.0.1
          ninja: true

      - name: Check generated files
        run: libcxx/utils/ci/run-buildbot check-generated-output
