name: "Check code formatting"
on: pull_request_target
permissions:
  pull-requests: write

jobs:
  code_formatter:
    runs-on: ubuntu-latest
    steps:
      - name: Check if PR is mergeable
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.number }} | jq -e 'if (.mergeable == true) then true else false end'

      - name: Fetch PR sources
        uses: actions/checkout@v4
        with:
          ref: "refs/pull/${{ github.event.number }}/merge"
          fetch-depth: 2
          path: pr-sources

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v39
        with:
          separator: ","
          base_sha: HEAD^
          sha: HEAD
          path: ./pr-sources

      # We need to make sure that we aren't executing/using any code from the
      # PR for security reasons as we're using pull_request_target. Checkout
      # the target branch with the necessary files.
      - name: Fetch LLVM Sources
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            llvm/utils/git/requirements_formatting.txt
            llvm/utils/git/code-format-helper.py
          sparse-checkout-cone-mode: false
          path: llvm-sources

      - name: "Listed files"
        run: |
          echo "Formatting files:"
          echo "${{ steps.changed-files.outputs.all_changed_files }}"

      - name: Install clang-format
        uses: aminya/setup-cpp@v1
        with:
          clangformat: 17.0.1

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'llvm-sources/llvm/utils/git/requirements_formatting.txt'

      - name: Install python dependencies
        run: pip install -r llvm-sources/llvm/utils/git/requirements_formatting.txt

      - name: Run code formatter
        env:
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        working-directory: ./pr-sources
        run: |
          python ../llvm-sources/llvm/utils/git/code-format-helper.py \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --issue-number $GITHUB_PR_NUMBER \
            --start-rev HEAD^ \
            --end-rev HEAD \
            --changed-files "$CHANGED_FILES"
