name: PR Subscriber

on:
  pull_request_target:
    types:
      - labeled

permissions:
  contents: read

jobs:
  auto-subscribe:
    runs-on: ubuntu-latest
    if: github.repository == 'llvm/llvm-project'
    steps:
      - name: Checkout Automation Script
        uses: actions/checkout@v4
        with:
          sparse-checkout: llvm/utils/git/
          ref: main

      - name: Setup Automation Script
        working-directory: ./llvm/utils/git/
        run: |
          pip install --require-hashes -r requirements.txt

      - name: Update watchers
        working-directory: ./llvm/utils/git/
        run: |
          python3 ./github-automation.py \
            --token '${{ secrets.ISSUE_SUBSCRIBER_TOKEN }}' \
            pr-subscriber \
            --issue-number "${{ github.event.number }}" \
            --label-name "${{ github.event.label.name }}"
