name: PR Subscriber

on:
  pull_request_target:
    types:
      - labeled

permissions:
  contents: read

jobs:
  auto-subscribe:
    # See https://github.blog/changelog/2025-11-07-actions-pull_request_target-and-environment-branch-protections-changes/
    environment: main-branch-only
    runs-on: ubuntu-24.04
    if: github.repository == 'llvm/llvm-project'
    steps:
      - name: Checkout Automation Script
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: llvm/utils/git/
          ref: main

      - name: Setup Automation Script
        working-directory: ./llvm/utils/git/
        run: |
          pip install --require-hashes -r requirements.txt

      - name: Update watchers
        working-directory: ./llvm/utils/git/
        run: |
          python3 ./github-automation.py \
            --token '${{ secrets.ISSUE_SUBSCRIBER_TOKEN }}' \
            pr-subscriber \
            --issue-number "${{ github.event.number }}" \
            --label-name "${{ github.event.label.name }}"
