name: PR Subscriber

on:
  pull_request:
    types:
      - labeled

permissions:
  contents: read

jobs:
  auto-subscribe:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Automation Script
        run: |
          curl -O -L https://raw.githubusercontent.com/$GITHUB_REPOSITORY/$GITHUB_SHA/llvm/utils/git/github-automation.py
          curl -O -L https://raw.githubusercontent.com/$GITHUB_REPOSITORY/$GITHUB_SHA/llvm/utils/git/requirements.txt
          chmod a+x github-automation.py
          pip install -r requirements.txt

      - name: Update watchers
        # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
        env:
          LABEL_NAME: ${{ github.event.label.name }}
        run: |
          ./github-automation.py \
          --token '${{ secrets.ISSUE_SUBSCRIBER_TOKEN }}' \
          pr-subscriber \
          --issue-number '${{ github.event.pull_request.number }}' \
          --label-name "$LABEL_NAME"
