name: Python Debug
on: 
  push:

jobs:
  test:
    runs-on: windows-2022
    steps:
      - name: Upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          path: |
            C:\hostedtoolcache\windows\Python\3.9.13\x64\
