name: Release Binaries Windows

on:
  workflow_dispatch:
    inputs:
      release-version:
        description: 'Release Version'
        required: false
        type: string
      upload:
        description: 'Upload binaries to the release page'
        required: true
        default: false
  # Run on pull_requests for testing purposes.
  pull_request:
    paths:
      - '.github/workflows/release-binaries-windows.yml'
      - '.github/workflows/upload-release-artifact/action.yml'
    types:
      - opened
      - synchronize
      - reopened
      # When a PR is closed, we still start this workflow, but then skip
      # all the jobs, which makes it effectively a no-op.  The reason to
      # do this is that it allows us to take advantage of concurrency groups
      # to cancel in progress CI jobs whenever the PR is closed.
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ inputs.release-version || github.event.pull_request.number }}
  cancel-in-progress: True


permissions:
  contents: read

jobs:
  build-windows-release:
    runs-on: ${{ matrix.runs-on }}
    if: github.repository_owner == 'llvm' && false
    outputs:
      digest: ${{ steps.digest.outputs.digest }}
      artifact-id: ${{ steps.artifact-upload.outputs.artifact-id }}
      installer-name: ${{ steps.variables.outputs.installer-name }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - depot-windows-2022-16
          - windows-11-arm
    steps:
      - name: Setup crlf
        shell: bash
        run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1A
        with:
          ref: ${{ (inputs.release-version && format('llvmorg-{0}', inputs.release-version)) || github.sha }}
      - id: version
        uses: ./.github/workflows/get-llvm-version
      - id: variables
        shell: bash
        run: |
          if [ -z "${{ inputs.release-version }}" ]; then
            version_string="${{ format('{0}.{1}.{2}', steps.version.outputs.major, steps.version.outputs.minor, steps.version.outputs.patch) }}"
          else
            version_string="${{inputs.release-version }}"
          fi
          case $RUNNER_ARCH in 
            "X64" )
              installer_arch="win64"
              tar_arch="x86_64"
              installer_dir_arch="amd64"
              script_options="--x64"
              ;;
            "ARM64" )
              installer_arch="woa64"
              tar_arch="aarch64"
              installer_dir_arch="arm64"
              script_options="--arm64"
              ;;
          esac
          echo "installer-name=LLVM-$version_string-$installer_arch.exe" >> $GITHUB_OUTPUT
          echo "tar-name=clang+llvm-$version_string-$tar_arch-pc-windows-msvc.tar.xz" >> $GITHUB_OUTPUT 
          echo "installer-dir=build_$installer_dir_arch" >> $GITHUB_OUTPUT
          echo "script-options=$script_options" >> $GITHUB_OUTPUT
          echo "version-string=$version_string" >> $GITHUB_OUTPUT
      - env:
          LDFLAGS: "/verbose"
        run: |
          subst S: ${{ github.workspace }}
          cd S:\llvm\utils\release\
          .\build_llvm_release.bat ${{ steps.variables.outputs.script-options }} --version ${{ steps.variables.outputs.version-string }} --local-python --skip-checkout
          # Move installer to top-level directory so it is easier to upload.
          mv llvm_package_${{ steps.variables.outputs.version-string}}\${{ steps.variables.outputs.installer-dir }}\${{ steps.variables.outputs.installer-name }} ${{ github.workspace }}
          mv llvm_package_${{ steps.variables.outputs.version-string}}\${{ steps.variables.outputs.tar-name }} ${{ github.workspace }}

      - name: Generate sha256 digest for binaries
        id: digest
        run: |
          echo "digest=$(cat ${{ steps.variables.outputs.tar-name }} ${{ steps.variables.outputs.installer-name }} | sha256sum | cut -d ' ' -f 1)" >> $GITHUB_OUTPUT

      - name: Release Binary Artifact
        id: artifact-upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: windows-${{ runner.arch }}-release-binaries-${{ steps.variables.outputs.version-string }}
          path: |
            ${{ steps.variables.outputs.installer-name }}
            ${{ steps.variables.outputs.tar-name }}

  upload-windows-release:
    runs-on: windows-2022
    if: github.repository_owner == 'llvm' &&
        github.event_name != 'pull_request'
    needs:
      - build-windows-release
    permissions:
      id-token: write
      attestations: write
    steps:
      - name: Checkout Release Scripts
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          sparse-checkout: |
            .github/workflows/upload-release-artifact
            llvm/utils/release/github-upload-release.py
            llvm/utils/git/requirements.txt
          sparse-checkout-cone-mode: false
      - name: Upload Artifacts
        uses: ./.github/workflows/upload-release-artifact
        with:
          artifact-id: ${{ needs.build-windows-release.outputs.artifact-id }}
          attestation-name: ${{ needs.build-windows-release.outputs.installer-name }}
          digest: ${{ needs.build-windows-release.outputs.digest }}
